<div id="com-<%= comment.id %>">
    <div class="q-body d-flex">
        <div class="d-inline mx-3 w-100">
            <hr>
            <span class="text-muted"><%= comment.content %></span>
            
        </div>
    </div>
</div>