<%= form_for [commentable, @question.comments.new], remote:true do |f| %>
  <div class="form-group">
    <%= f.text_area :content, rows: 2, placeholder:"Ingresa tu comentario", class:"form-control", id:"put_comment_box" %>
  </div>

  <%= f.submit 'Commentar!!!', class:"btn btn-outline-dark float-right"%>

<% end %>