  <!-- Footer -->
  <footer class="pb-4 pt-4 mt-4 bg-dark">
      <div class="container">
        <div class="row text-center">
          <div class="col-12 col-lg">
            <%= link_to "Subir" %>
          </div>
          <div class="col-12 col-lg">
            <%= link_to "Volver", questions_path %>
          </div>
        </div>      
      </div>
    </footer>
  <!-- /Footer -->  