@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$color_black : black;
$color_tomato : tomato;

.brand-black {
  color: $color_black;
}

.brand-tomato {
  color: $color_tomato;
}