@import "bootstrap";
@import "font-awesome-sprockets";
@import "font-awesome";

$color_black : black;
$color_tomato : tomato;
$color_orange : rgb(240, 69, 0);

.brand-black {
  color: $color_black;
}

.brand-tomato {
  color: $color_tomato;
}

.brand-orange {
  color: $color_orange;
}

a {
  color: $color_orange;
}
a:hover {
  color: $color_orange;
  text-decoration: underline;
}

body { 
  background-color: #efefef;
}